{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid " style="margin-top:100px">
      <div class="alert alert-info member-heading" role="alert">
        আপনি যদি একজন রক্তদাতা হয়ে থাকেন বা হতে ইচ্ছুক হয়ে থাকেন। তবে ব্লাড এইড ব্যাংক আপনার জন্য। নিচের ফর্ম সঠিকভাবে
        পূরণ করে আমাদের সাথেই থাকুন ও রক্তের প্রয়োজনে রক্ত দিয়ে অন্যের মুখে হাসি ফোঁটাতে পারেন।
      </div>
      {% if changed %}
          <div class="alert alert-success member-heading text-center" role="alert">
              আপনার তথ্য সঠিকভাবে গৃহীত হয়েছে। ধন্যবাদ!
          </div>
      {%endif%}
      <div class="member">
        <form class="p-3 mx-2" action="" method="post" style="border: 2px dashed black; border-radius:5px">
          {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name"> নাম</label>
                <input type="text" class="form-control border-danger" id="name" name="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="tel"> মোবাইল নাম্বার</label>
                <input type="tel" class="form-control border-danger" id="tel" name="phone" required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="instituion"> শিক্ষা প্রতিষ্ঠান</label>
                  <input type="text" class="form-control border-danger" id="instituion" name="institution" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="blood"> রক্তের গ্রুপ</label>
                  <select class="custom-select border-danger" id="blood" name="blood" required>
                    <option selected>Choose...</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    
                  </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="date">সর্বশেষ রক্তদান</label>
                    <input class="form-control border-danger" id="date" name="date" placeholder="MM/DD/YY" type="date" required>
                  </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity"> উপজেলা/থানা</label>
                <input type="text" class="form-control border-danger" id="inputCity" name="upozila" required>
              </div>
              <div class="form-group col-md-6">
                <label for="zilla"> জেলা</label>
                <input type="text" class="form-control border-danger" id="zilla" name="zilla" required>
              </div>
              
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">জমা দিন</button>
            </div>
          </form>
        </div>
    </div>
{% endblock %}