{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid pt-5" style="margin-top:50px">
    {% if changed %}
        <div class="container">
            <div class="alert alert-success px-3 text-center" style="margin:10px">
                তথ্য সঠিকভাবে পরিবর্তিত হয়েছে!
            </div>
        </div>
    {% endif %}
    <div class="container bg-light p-3" style="border-radius: 5px; border: 1px solid tomato">
        <h4 class="text-center">
            {{booking.name}}'s Blood Booking Details
        </h4>
        <hr>
        <div class="row px-5">
            <div class="col-sm-12 col-lg-8">
                <p><a style="font-weight: bold;">Name: </a> {{booking.name}}</p>
                {% if user.is_authenticated %}
                <p><a style="font-weight: bold;">Phone: </a> {{booking.phone}}</p>
                {%endif%}
                <p><a style="font-weight: bold;">Problem: </a>{{booking.problem}}</p>
                <p><a style="font-weight: bold;">Blood Group: </a>{{booking.blood_group}}</p>
                <p><a style="font-weight: bold;">Month: </a>{{booking.month}}</p>
                <p><a style="font-weight: bold;">Week: </a>{{booking.week}}</p>
                <p><a style="font-weight: bold;">Status: </a>{{booking.statement}}</p>
                <p><a style="font-weight: bold;">Upazila: </a>{{booking.location}}</p>
                <p><a style="font-weight: bold;">Zilla: </a>{{booking.zilla}}</p>
            </div>
            <div class="col-sm-12 col-lg-4">
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.statement|as_crispy_field}}
                    <br>
                    <div class="text-center inline-block">
                        <button type='submit' class="btn btn-danger">Save</button>
                        <a class="btn btn-warning"href="{% url 'Bloodbank:show_booking_list'%}">Back</a>
                    </div>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}