{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container py-5 px-2" style="margin-top:50px">
        <p>Are you sure, you want to delete?</p>
        <form action="{% url 'Statement:delete_tax' tax.id %}" method="post">
            {% csrf_token %}
            <a type="button" class="btn btn-info" href="{% url 'Statement:show_tax'%}">Cancel</a>
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>

    </div>

{% endblock %}